# SPDX-FileCopyrightText: 2025 Alexandre Gomes Gaigalas <alganet@gmail.com>
# SPDX-License-Identifier: GPL-3.0-or-later

# .gitattributes for GitHub syntax highlighting
*.kaem linguist-language=Shell
